{% extends "base/panel_base.html" %}

{% block title %}Study Digital Repository{% endblock title %}

{% block content %}
<br>
<div class="container">
    <h3>Welcome, {{ user.first_name }} {{ user.last_name }}</h3>
    <hr>
    <p>This page allows you to view a variety of thesis and research documents. By using the table on this page, you can
        easily browse through different documents by their title, proponents, and even view them by clicking on the
        "view" button.</p>

    <br>
    <table class="table " id="panelRepositoryDatatable">
        <thead bgcolor="grey" style="color: #fff; font-size:13px">
            <tr>
                <th style="width: 25%;">Thesis Title</th>
                <th style="width: 15%;">Proponents</th>
                <th style="width: 9%;">Adviser</th>
                <th style="width: 5%;">School Year</th>
                <th style="width: 1%;">Actions</th>
            </tr>
        </thead>
        <!--Data from backend-->
        <tbody style="text-align: left;">
            {% for repo in repository %}
            <tr style="color: black; text-align: left; font-size: 13px; ">
                <td data-label="Thesis Title">{{ repo.title }}</td>
                <td data-label="Proponents">{{ repo.proponents }}</td>
                <td data-label="Adviser">{{ repo.adviser }}</td>
                <td data-label="School Year">{{ repo.school_year }}</td>
                <td data-label="Actions">
                    <a href="{% url 'view_pdf_repository' repo.id %}" target="_blank" class="btn btn-success"><i
                            class="fa-solid fa-eye"></i></a>
                </td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
</div>

{% endblock content %}