@media (max-width: 576px) {
    .card {
        height: auto;
        margin-bottom: 20px;
    }
    .card-body {
        height: auto;
        padding: 10px;
    }
    .col-sm-5,
    .col-sm-2 {
        width: 100%;
        margin-bottom: 20px;
    }
    input[type="text"] {
        width: 100%;
    }
}