.navbar {
    background-color: #16524d;
    height: 60px;
    display: flex;
}

.navbar .logo {
    margin-left: 10px;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 3px;
    color: #fff;
}

.navbar .logo a {
    color: #fff
}

.navbar .logo a span {
    color: #5bd485;
}

.inner_navbar {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
}

.navbar-left ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-left ul li {
    margin-right: 20px;
}

.navbar-left ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.navbar-left ul li a:hover {
    color: #5bd485;
}

.navbar-left ul li .dropdown-menu a {
    color: black;
}

.navbar-left ul li .dropdown-menu a:hover {
    color: #5bd485;
}

.hamburger {
    display: none;
    cursor: pointer;
    color: #fff;
}

@media only screen and (max-width: 786px) {
    .hamburger {
        display: block;
        text-align: center;
        padding-top: 10px;
    }
    .navbar {
        background-color: #16524d;
    }
    .inner_navbar {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        left: 0;
        background-color: #16524d;
        padding: 20px;
        z-index: 1;
    }
    .hamburger:hover {
        color: #5bd485;
        cursor: pointer;
    }
    .navbar-expand-sm .navbar-nav {
        display: block;
    }
    .navbar-nav li {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .navbar-nav a {
        display: block;
        padding-left: 0;
    }
    .navbar-left {
        display: block;
    }
    .navbar-left ul {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
}