<!-- Modal -->
<div class="modal fade" {% block modal-id%} id="addModal" {% endblock modal-id %} tabindex="-1"
  aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title fs-5" id="addModalLabel"> {% block modal-title %} <i
            class="fa-solid fa-file-circle-plus"></i>
          Add File For Repository {% endblock modal-title %} </h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST" class="post-form" {% block Action %} action="{% url 'AddRepositoryFiles' %}"
        {% endblock Action %} enctype="multipart/form-data" class="card p-3 border-dark mt-3" autocomplete="off">
        {% csrf_token %}
        <div class="modal-body">

          {% block repo-id %} {% endblock repo-id %}
          <div class="row">
            <div class="col-12">
              <h6>TITLE</h6>
              <textarea type="text" class="form-control" name="title" placeholder="Title" required
                {% block repo-title %} {% endblock repo-title %}></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h6>PROPONENTS</h6>
              <p>(Names should be separated by comma)</p>
              <textarea type="text" class="form-control" name="proponents" placeholder="Proponents" required
                {% block repo-proponents %} {% endblock repo-proponents %}></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <h6>ADVISER</h6>
              <input type="text" class="form-control" name="adviser" placeholder="Adviser" required
                {% block repo-adviser %} {% endblock repo-adviser %}>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="SY">School Year</label>
                <select name="school_year" id="SY" class="form-control">
                  <option value="" disabled selected>Select school year</option>
                  <option value="SY2018-19">SY2018-19</option>
                  <option value="SY2018-19">SY2019-20</option>
                  <option value="SY2018-19">SY2020-21</option>
                  <option value="SY2018-19">SY2021-22</option>
                  <option value="SY2018-19">SY2022-23</option>
                </select>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <input type="file" class="form-control" name="pdf_file" max-length="40" placeholder="Upload File" required
                {% block repo-file %} {% endblock repo-file %}>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-12">
              <h6>ABSTRACT</h6>
              <textarea class="form-control" name="abstract" placeholder="Abstract" style=" height: 170px;" required
                {% block repo-abstract %} {% endblock repo-abstract %}></textarea>
            </div>
          </div>

          <div class="mt-4" style="width:100%;">
            <button type="submit" class="btn btn-primary mb-3">
              {% block Btn-action %}
              <i class="fas fa-plus"></i>Submit
              {% endblock Btn-action %}
            </button>
            <a href="{% url 'TableRepository' %}" class="btn btn-outline-dark mb-3 ms-2" style="width: 50px;"
              title="Back">
              <i class="fa-solid fa-chevron-left"></i>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>