<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Student Registration</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'register_student' %}" method="post">
                    {% csrf_token %}

                    {% if students %}
                    {% for student in students %}
                    <h6>STUDENT ID</h6>

                    <input type="text" class="form-control" name="student_id" value="{{ student.Student_Id }}"
                        max-length="40" placeholder="STUDENT ID" readonly>


                    <h6>EMAIL</h6>

                    <input type="email" class="form-control" name="email" value="{{ student.Email }}" max-length="40"
                        placeholder="EMAIL" readonly>


                    <h6>NAME</h6>

                    <input type="email" class="form-control" name="student_name" value="{{ student.Student_Name }}"
                        max-length="40" placeholder="EMAIL" readonly>

                    {% endfor %}
                    {% endif %}

                    <h6>USERNAME</h6>

                    <input type="text" class="form-control" name="username" max-length="40" placeholder="USERNAME"
                        required>


                    <h6>PASSWORD</h6>

                    <input type="password" class="form-control" name="password" max-length="40" required>
                    <br>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>