{% extends "base/panel_base.html" %}

{% block title %}Students Uploads{% endblock title %}

{% block content %}

<div class="container">
    <br>
    <h2 class="text-center" style="margin-bottom: 10px;">Welcome to the Students page!</h2>
    <hr>
    <p style="font-size: 18px; line-height: 1.5;text-align: justify;">Here, you can manage view all the uploaded
        documents of each student. This table also displays all relevant student information,
        including Student ID, Username, Name, Email, Last Login, and Date Joined. Use the actions button to access the
        view modal for each student.
    </p>
    <table class="table " id="registeredDatatable">
        <thead bgcolor="grey" style="color: #fff; font-size: 13px;">
            <tr>
                <th style="width: 5%;">Student ID</th>
                <th style="width: 3%;">Username</th>
                <th style="width: 12%;">Name</th>
                <th style="width: 10%;">Email</th>
                <th style="width: 7%;">Last Login</th>
                <th style="width: 7%;">Date Joined</th>
                <th style="width: 1%;">Actions</th>
            </tr>
        </thead>
        <!--Data from backend-->
        <tbody style="text-align:left;">

            {% for student in registered_student  %}
            <tr style="color: black; text-align: left; font-size: 13px;">
                <td data-label="Student ID">{{ student.student_id }}</td>
                <td data-label="Username">{{ student.username }}</td>
                <td data-label="Name">{{ student.name }}</td>
                <td data-label="Email">{{ student.email }}</td>
                <td data-label="Last Login">{{ student.last_login }}</td>
                <td data-label="Date Joined">{{ student.date_joined }}</td>
                <td data-label="Actions">
                    <a type="button" class="btn btn-info btn-actions" title="viewPanels" data-bs-toggle="modal"
                        data-bs-target="#viewUploadsModal{{student.id}}">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                </td>
            </tr>
            <!-- include (requried here to get the PK)-->
            {% include "accounts/panel/panel_dashboard/table_students/actions/student_uploads.html" %}
            {% endfor %}

        </tbody>
    </table>
    <br>
</div>
{% endblock content %}