{% extends "base/admin_base.html" %}

{% block title %}Thesis Records{% endblock title %}

{% block content %}

<div class="container">
    <br>
    <h2 class="text-center" style="margin-bottom: 10px;">Welcome to Thesis Records page!</h2>
    <hr>
    <p style="font-size: 18px; line-height: 1.5;text-align: justify;">This page displays a list of thesis records that
        have been uploaded to the repository. Users can view the details of each record, edit them, download the
        associated file, or delete them. The "Add Files - Repository" button allows users to add new thesis records to
        the repository. This page is intended for administrators or users with permission to manage the repository.
    </p>
    <!-- Button trigger modal -->
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addModal"
        style="background-color:  #16524d; color: #fff; margin-bottom: 13px; margin-top: -8px;">
        Add Files - Repository
    </button>
    <br>
    <table class="table " id="adminrepositoryDatatable">
        <thead bgcolor="grey" style="color: #fff; font-size:13px">
            <tr>
                <th style="width: 40%;">Thesis Title</th>
                <th style="width: 10%;">Proponents</th>
                <th style="width: 9%;">Adviser</th>
                <th style="width: 5%;">School Year</th>
                <th style="width: 8%;">Actions</th>
            </tr>
        </thead>
        <!--Data from backend-->
        <tbody style="text-align: left;">
            {% for repo in repository %}
            <tr style="color: black; text-align: left; font-size: 13px; ">
                <td data-label="Thesis Title">{{ repo.title }}</td>
                <td data-label="Proponents">{{ repo.proponents }}</td>
                <td data-label="Adviser">{{ repo.adviser }}</td>
                <td data-label="School Year">{{ repo.school_year }}</td>
                <td data-label="Actions" class="justify-content-between">
                    <a href="{% url 'view_pdf_repository' repo.id %}" target="_blank" class="btn btn-info btn-actions">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a class="btn btn-warning btn-actions" title="edit" data-bs-toggle="modal"
                        data-bs-target="#editModal{{repo.id}}">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a data-placement="top" data-toggle="tooltip" title="delete"
                        href="/DeleteRepositoryFiles/{{repo.id}}" class="btn btn-danger btn-xs" data-title="Delete"
                        data-toggle="modal" data-target="#delete"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>

            <!-- include (requried here to get the PK)-->

            {% include "accounts/admin/admin_dashboard/repository/edit_files_repository.html" %}
            {% endfor %}
        </tbody>
    </table>
    <br>
</div>
{% endblock content %}