{% extends "base/student_base.html" %}

{% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">General information</h2>
                <form>
                    <div class="row">

                        {% for student in students %}

                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="first_name">Name</label>
                                <input class="form-control" id="first_name" type="text"
                                    value="{{ student.Student_Name }}" readonly>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="last_name">Student ID</label>
                                <input class="form-control" id="last_name" type="text" value="{{ student.Student_Id }}"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" id="email" type="email" placeholder="name@company.com"
                                    value="{{ student.Email }}" readonly>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input class="form-control" id="phone" type="number"
                                    {% if student.Contact_Number == 'nan' %} value="N/A" {% else %}
                                    value="{{ student.Contact_Number|floatformat:0 }}" {% endif %} readonly>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!--uploads-->
                    <div class="row">

                        <table class="table table-bordered mx-auto">
                            <thead bgcolor="grey" style="color: #fff; font-size:13px">
                                <tr>
                                    <th style="width: 13%;">Thesis Title</th>
                                    <th style="width: 12%;">Proponents</th>
                                    <th style="width: 12%;">Upload Date&Time</th>
                                    <th style="width: 12%;">Document Type</th>
                                    <th style="width: 5%;">Status</th>
                                    <th style="width: 1%;">Actions</th>
                                </tr>
                            </thead>
                            <!--Data from backend-->
                            <tbody style="text-align: left;">
                                {% for upload in uploads %}
                                <tr style="color: black; text-align: left; font-size: 13px; ">
                                    <td>{{ upload.student_title }}</td>
                                    <td>{{ upload.student_proponents }}</td>
                                    <td>{{ upload.uploaded_at|date:"D d M Y H:i:s" }}</td>
                                    <td>
                                        {% if upload.document_type == "TITLE_DEFENSE" %}
                                        TITLE DEFENSE DOCUMENT
                                        {% elif upload.document_type == "PROPOSAL_DEFENSE" %}
                                        PROPOSAL DEFENSE DOCUMENT
                                        {% else %}
                                        FINAL DEFENSE DOCUMENT
                                        {% endif %}
                                    </td>
                                    <td>{{ upload.status }}</td>
                                    <td class="justify-content-between" style="display: flex;">
                                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                            data-bs-target="#resultsModal{{upload.id}}">
                                            Result
                                        </button>
                                        <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                            data-bs-target="#commentsModal{{upload.id}}">
                                            Comments
                                        </button>
                                    </td>
                                </tr>
                                <!-- include (requried here to get the PK)-->
                                {% include "accounts/student/student_dashboard/similarity_results/results.html" %}
                                {% include "accounts/student/student_dashboard/comments/comment.html" %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- comparison -->
                    <div class="row">

                        <table class="table table-bordered mx-auto">
                            <thead bgcolor="4b6043" style="color: #fff; font-size:13px">
                                <tr>
                                    <th style="width: 14%;">Your Title</th>
                                    <th style="width: 14%;">Compared Title</th>
                                    <th style="width: 12%;">Compared Proponents</th>
                                    <th style="width: 7%;">Upload Date&Time</th>
                                    <th style="width: 1%;">Comparison Result</th>
                                </tr>
                            </thead>
                            <!--Data from backend-->
                            <tbody style="text-align: left;">
                                {% for comparison in comparisons %}
                                <tr style="color: black; text-align: left; font-size: 13px; ">
                                    <td>{{ comparison.doc1_title }}</td>
                                    <td>{{ comparison.doc2_title }}</td>
                                    <td>{{ comparison.doc2_proponents }}</td>
                                    <td>{{ comparison.docs_uploaded_at|date:"D d M Y H:i:s" }}</td>
                                    <td>{{ comparison.comparison_result|floatformat:0 }}%</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </form>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="row">
                <div class="col-12 mb-4">
                    <!-- Template -->
                    {% for student in students %}
                    <div class="card shadow border-0 text-center p-0">
                        <div class="card-body pb-5">
                            {% for student_profile in student_profiles %}
                            {% if student_profile.profile_picture %}
                            <img src="{{ student_profile.profile_picture.url }}"
                                class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="{{ student.Student_Name }}"
                                style="height: 150px; width: 150px;">
                            {% else %}
                            <img src="/static/default/default_profile.png"
                                class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="{{ student.Student_Name }}"
                                style="height: 150px; width: 150px;">
                            {% endif %}
                            {% endfor %}
                            <h4 class="h3">
                                {{ student.Student_Name }}
                            </h4>
                            <h5 class="fw-normal">
                                {{ student.user.username }}
                            </h5>
                            <p class="text-gray mb-4">
                                {{ student.Email }}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-12">
                        <div class="card card-body border-0 shadow mb-4">
                            <h2 class="h5 mb-4">Select profile photo</h2>
                            <div class="d-flex align-items-center">
                                <div class="file-field">
                                    <div class="d-flex justify-content-xl-center ms-xl-3">
                                        <div class="d-flex">
                                            <input type="file" name="profile_picture">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" value="Save Changes">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}