{% extends "base/student_base.html" %}

{% block title %}Title Document Upload{% endblock title %}

{% block content %}

<br>
<div class="container">
    <h2 class="text-center" style="margin-bottom: 10px;">Welcome to the Title Document Upload!</h2>
    <hr>
    <p style="font-size: 18px; line-height: 1.5;text-align: justify;">This page allows you to upload your title defense
        document and calculate its similarity with other documents in the repository. You will be able to see the title
        and similarity percentage of the documents that have the highest similarity to your document. This can be useful
        for checking for plagiarism or for finding similar research for reference.</p>
    <div class="row d-flex flex-column flex-sm-row">
        {% if nearest_neighbors %}
        {% for neighbor in nearest_neighbors %}
        {% if neighbor.below_threshold == True and forloop.first%}
        <div class="alert alert-success text-center">
            <strong>Document similarity calculation complete!</strong>
            <strong>Your study's similarity result is below the threshold.</strong>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header text-center">
                    <strong>
                        <h5>Your Title Defense Document!</h5>
                    </strong>
                </div>
                <div class="card-body">
                    <br>
                    <div class="container">
                        <div class="input-group mb-3">
                            <span class="side-label btn border-secondary bg-light"> Title: </span>
                            <input type="text" class="form-control" name="student_title" max-length="40"
                                placeholder="Title:" value="{{ form.cleaned_data.student_title }}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="side-label btn border-secondary bg-light"> Proponent/s: </span>
                            <input type="text" class="form-control" name="student_proponents" max-length="40"
                                placeholder="Proponents" value="{{ form.cleaned_data.student_proponents }}" readonly>
                        </div>
                        <div class="mt-4" style="width:100%;">
                            <a href="{% url 'upload_title_defense' %}" class="btn btn-primary mb-3">
                                <i class="fas fa-arrow-left"></i>Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header text-center">
                    <strong>
                        <h5>Similarity Results</h5>
                    </strong>
                </div>
                <div class="card-body">
                    <table class="fixed-table">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col" style="width: 5%;">Title Similarity</th>
                                <th scope="col" style="width: 5%;">Content Similarity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for neighbor in nearest_neighbors %}
                            <tr class="table-separator">
                                <td>{{ neighbor.title }}</td>
                                <td>{{ neighbor.title_similarity|floatformat:0 }}%</td>
                                <td>{{ neighbor.content_similarity|floatformat:0 }}%</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% elif neighbor.below_threshold == False and forloop.first %}
        <div class="alert alert-success text-center">
            <strong>Document similarity calculation complete!</strong>
            <strong>Your study's similarity result is above the threshold.</strong>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header text-center">
                    <strong>
                        <h5>Uploaded Title Defense Document!</h5>
                    </strong>
                </div>
                <div class="card-body">
                    <br>
                    <div class="container">
                        <div class="input-group mb-3">
                            <span class="side-label btn border-secondary bg-light"> Title: </span>
                            <input type="text" class="form-control" name="student_title" max-length="40"
                                placeholder="Title:" value="{{ form.cleaned_data.student_title }}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="side-label btn border-secondary bg-light"> Proponent/s: </span>
                            <input type="text" class="form-control" name="student_proponents" max-length="40"
                                placeholder="Proponents" value="{{ form.cleaned_data.student_proponents }}" readonly>
                        </div>
                        <div class="mt-4" style="width:100%;">
                            <a href="{% url 'upload_title_defense' %}" class="btn btn-primary mb-3">
                                <i class="fas fa-arrow-left"></i>Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header text-center">
                    <strong>
                        <h5>Similarity Results</h5>
                    </strong>
                </div>
                <div class="card-body">
                    <table class="fixed-table">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col" style="width: 5%;">Title Similarity</th>
                                <th scope="col" style="width: 5%;">Content Similarity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for neighbor in nearest_neighbors %}
                            <tr class="table-separator">
                                <td>{{ neighbor.title }}</td>
                                <td>{{ neighbor.title_similarity|floatformat:0 }}%</td>
                                <td>{{ neighbor.content_similarity|floatformat:0 }}%</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% else %}
        {% endif %}
        {% endfor %}
        {% else %}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header text-center">
                    <strong>
                        <h5>Upload your Title Defense Document here!</h5>
                    </strong>
                </div>
                <div class="card-body" style="height: auto;">

                    <form method="POST" action="{% url 'upload_title_defense' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="container">
                            <div class="input-group mb-3">
                                <span class="side-label btn border-secondary bg-light"> <i
                                        class="fa-solid fa-book"></i></span>
                                <textarea class="form-control" id="title" type="text" name="student_title"
                                    max-length="40" placeholder="Title" required></textarea>
                            </div>
                            <div class="input-group mb-3">
                                <span class="side-label btn border-secondary bg-light"> <i
                                        class="fa-solid fa-user-tie"></i></span>
                                <select class="form-control" id="proponents" name="student_proponents" required>
                                    <option value="" disabled selected>Select Proponent</option>
                                    {% for student in enrolled_students %}
                                    <option value="{{ student.id }}">{{ student.Student_Name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div>
                                    <label for="selected-students">Selected Students:</label>
                                    <ul id="selected-students"></ul>
                                </div>
                                <textarea type="hidden" name="students" id="student-proponents-input" hidden></textarea>
                            </div>
                            <div class="input-group mb-3">
                                <span class="side-label btn border-secondary bg-light"> <i
                                        class="fa-solid fa-person-chalkboard"></i></span>
                                <input type="text" class="form-control" name="adviser" max-length="40"
                                    placeholder="Adviser" required>
                            </div>
                            <div class="input-group mb-3">
                                <span class="side-label btn border-secondary bg-light"> <i
                                        class="fa-solid fa-calendar-days"></i></span>
                                <select name="school_year" id="SY" class="form-control">
                                    <option value="" disabled selected>Select school year</option>
                                    <option value="SY2018-19">SY2018-19</option>
                                    <option value="SY2018-19">SY2019-20</option>
                                    <option value="SY2018-19">SY2020-21</option>
                                    <option value="SY2018-19">SY2021-22</option>
                                    <option value="SY2018-19">SY2022-23</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <span class="side-label btn border-secondary bg-light"> <i
                                        class="fa-solid fa-file"></i></span>
                                <input type="file" class="form-control" name="student_pdf_file" max-length="40"
                                    placeholder="Upload File" required>
                            </div>
                            <div class="mt-4" style="width:100%;">
                                <button type="submit" class="btn btn-primary mb-3">
                                    <i class="fas fa-plus"></i>Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header text-center">
                    <strong>
                        <h5>Similarity Results</h5>
                    </strong>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Title Similarity</th>
                                <th scope="col">Content Similarity</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}