<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Admin Dashboard {% endblock title %}</title>

    <!-- navbars -->
    <link rel="stylesheet" type="text/css" href="{% static 'style/student_nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/charts.css' %}">

    <!--modals-->
    <link rel="stylesheet" type="text/css" href="{% static 'style/addrepositorymodal.css' %}">
    

    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- tables -->
    <link rel="stylesheet" type="text/css" href="{% static 'style/table.css' %}">
    <link rel="stylesheet" href="{% static 'style/student_comment_table.css' %}">

    <!--loading css-->
    <link rel="stylesheet" href="{% static 'style/loading.css' %}">

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="{% static 'icons/css/all.min.css' %}">

    <!-- Sweetalert CSS-->
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
</head>

<body>

    <!-- includes -->
    {% include "navbar/admin_navbar.html" %}


    {% block content %} {% endblock content %}

    {% include "accounts/admin/admin_dashboard/repository/add_files_repository.html" %}
    {% include "accounts/admin/admin_dashboard/enrolled_students/upload_enrolled_students.html" %}


    <!-- Bootstrap JavaScript -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.2.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- Sweetalert JS-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>

    <!-- DataTables JavaScript -->
    <script type="text/javascript" src="{% static 'DataTables/js/datatables.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>

    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.6/dist/umd/popper.min.js"></script>

    <!--bootstrap buttons-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.2/b-2.3.4/b-colvis-2.3.4/b-html5-2.3.4/b-print-2.3.4/datatables.min.css"/>
 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.2/b-2.3.4/b-colvis-2.3.4/b-html5-2.3.4/b-print-2.3.4/datatables.min.js"></script>

    <!-- Font Awesome JavaScript -->
    <script src="{% static 'icons/js/all.min.js' %}"></script>


    <script>
        const hamburger = document.querySelector(".hamburger");
        const innerNavbar = document.querySelector(".inner_navbar");
    
        hamburger.addEventListener("click", function() {
            innerNavbar.style.display = innerNavbar.style.display === "block" ? "none" : "block";
        });
    </script>
    
    <!-- Datatables Script -->
    <script>
        $(document).ready(function () {
            let table = $('#adminrepositoryDatatable').DataTable({
                "aLengthMenu": [
                    [3, 5, 7, 10, 25, "All"],
                    [3, 5, 7, 10, "All"]
                ],
                paging: true,
                pageLength: -1,
                lengthChange: true,
                autoWidth: false,
                searching: true,
                bInfo: true,
                bSort: true,
                responsive: true,
                buttons:['csv', 'excel', 'pdf', 'copy', 'print',
                {
                    text: 'Add Files - Repository',
                    className: 'btn',
                    action: function (e, dt, node, config) {
                        $('#addModal').modal('show');
                    }
                }
                ],

                // Change the DOM layout
                dom: '<"row"<"col-md-3"l><"col-md-6 text-center"B><"col-md-3"f>>' +'<"row"<"col-md-12"tr>>' + '<"row"<"col-md-5"i><"col-md-7"p>>'
            });

            table.buttons().container().appendTo('#adminrepositoryDatatable_wrapper .col-md-6:eq(0)')

            // Get unique values for each column
            let uniqueAdvisers = new Set();
            let uniqueSchoolYears = new Set();
            $('#adminrepositoryDatatable tbody tr').each(function () {
                let adviser = $(this).find("td:eq(2)").text();
                let schoolYear = $(this).find("td:eq(3)").text();
                uniqueAdvisers.add(adviser);
                uniqueSchoolYears.add(schoolYear);
            });


            // Add filter select options for each column
            let adviserFilter = $('<select><option value="">Adviser</option></select>');
            $.each(Array.from(uniqueAdvisers), function (index, value) {
                adviserFilter.append('<option value="' + value + '">' + value + '</option>');
            });

            $("#adminrepositoryDatatable thead tr:eq(0) th:eq(2)").html(adviserFilter);
            table.column(2).data().sort();
            table.column(2).search($(adviserFilter).val()).draw();
            $(adviserFilter).on('change', function () {
                table.column(2).search($(this).val()).draw();
            });

            let schoolYearFilter = $('<select><option value="">School Year</option></select>');
            $.each(Array.from(uniqueSchoolYears), function (index, value) {
                schoolYearFilter.append('<option value="' + value + '">' + value + '</option>');
            });
            $("#adminrepositoryDatatable thead tr:eq(0) th:eq(3)").html(schoolYearFilter);
            table.column(3).data().sort();
            table.column(3).search($(schoolYearFilter).val()).draw();
            $(schoolYearFilter).on('change', function () {
                table.column(3).search($(this).val()).draw();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            let table = $('#userEnrolledDatatable').DataTable({
                "aLengthMenu": [
                    [3, 5, 7, 10, 25, "All"],
                    [3, 5, 7, 10, "All"]
                ],

                paging: true,
                pageLength: -1,
                lengthChange: true,
                autoWidth: false,
                searching: true,
                bInfo: true,
                bSort: true,
                responsive: true,
                buttons:['csv', 'excel', 'pdf', 'copy', 'print',
                {
                    text: 'Upload File - Enrolled Students',
                    className: 'btn',
                    action: function (e, dt, node, config) {
                        $('#uploadModal').modal('show');
                    }
                }
                ],

                // Change the DOM layout
                dom: '<"row"<"col-md-3"l><"col-md-6 text-center"B><"col-md-3"f>>' +'<"row"<"col-md-12"tr>>' + '<"row"<"col-md-5"i><"col-md-7"p>>'
            });

            table.buttons().container().appendTo('#userEnrolledDatatable .col-md-6:eq(0)')

            // Get unique values for each column
            let uniqueCourse = new Set();
            let uniqueSubjectDes = new Set();
            let uniqueSemesters = new Set();
            let uniqueSchoolYears = new Set();

            $('#userEnrolledDatatable tbody tr').each(function () {
                let Course = $(this).find("td:eq(4)").text();
                let subjectdes = $(this).find("td:eq(5)").text();
                let sem = $(this).find("td:eq(6)").text();
                let schoolYear = $(this).find("td:eq(7)").text();
                uniqueCourse.add(Course);
                uniqueSubjectDes.add(subjectdes);
                uniqueSemesters.add(sem);
                uniqueSchoolYears.add(schoolYear);
            });


            // Add filter select options for each column
            let courseFilter = $('<select><option value="">Course</option></select>');
            $.each(Array.from(uniqueCourse).sort(), function (i, item) {
                courseFilter.append($('<option>', {
                    value: item,
                    text: item
                }));
            });
            $('#userEnrolledDatatable thead th:eq(4)').html(courseFilter);

            let subjectdesFilter = $('<select><option value="">Subject Description</option></select>');
            $.each(Array.from(uniqueSubjectDes).sort(), function (i, item) {
                subjectdesFilter.append($('<option>', {
                    value: item,
                    text: item
                }));
            });
            $('#userEnrolledDatatable thead th:eq(5)').html(subjectdesFilter);

            let semFilter = $('<select><option value="">Semester</option></select>');
            $.each(Array.from(uniqueSemesters).sort(), function (i, item) {
                semFilter.append($('<option>', {
                    value: item,
                    text: item
                }));
            });
            $('#userEnrolledDatatable thead th:eq(6)').html(semFilter);

            let schoolYearFilter = $('<select><option value="">School Year</option></select>');
            $.each(Array.from(uniqueSchoolYears).sort(), function (i, item) {
                schoolYearFilter.append($('<option>', {
                    value: item,
                    text: item
                }));
            });
            $('#userEnrolledDatatable thead th:eq(7)').html(schoolYearFilter);

            // Apply filter for each select element

            $('#userEnrolledDatatable thead select').on('change', function () {
                let val = $(this).val();
                table.column($(this).parent().index() + ':visible').search(val ? val : '').draw();
            });
        });
    </script>
    
    <script>
        $(document).ready(function () {
            let table = $('#registeredDatatable').DataTable({
                "aLengthMenu": [
                    [3, 5, 7, 10, 25, "All"],
                    [3, 5, 7, 10, "All"]
                ],
                paging: true,
                pageLength: -1,
                lengthChange: true,
                autoWidth: false,
                searching: true,
                bInfo: true,
                bSort: true,
                responsive: true,
                buttons:['csv', 'excel', 'pdf', 'copy', 'print'],

                // Change the DOM layout
                dom: '<"row"<"col-md-3"l><"col-md-6 text-center"B><"col-md-3"f>>' +'<"row"<"col-md-12"tr>>' + '<"row"<"col-md-5"i><"col-md-7"p>>'
            });

            table.buttons().container().appendTo('#registeredDatatable .col-md-6:eq(0)')

        });
    </script>

    <script>
        $(document).ready(function () {
            // Initialize DataTable
            let table = $('#titleDatatable').DataTable({
                "aLengthMenu": [
                    [3, 5, 7, 10, 25, "All"],
                    [3, 5, 7, 10, "All"]
                ],
                paging: true,
                pageLength: -1,
                lengthChange: true,
                autoWidth: false,
                searching: true,
                bInfo: true,
                bSort: true,
                responsive: true,
                buttons:['csv', 'excel', 'pdf', 'copy', 'print'],
                

                // Change the DOM layout
                dom: '<"row"<"col-md-3"l><"col-md-6 text-center"B><"col-md-3"f>>' +
             '<"row"<"col-md-12"tr>>' +
             '<"row"<"col-md-5"i><"col-md-7"p>>'
            });
            table.buttons().container().appendTo('#titleDatatable_wrapper .col-md-6:eq(0)')


            // Get unique values for each column
            let uniqueThreshold = new Set();
            let uniqueStatus = new Set();

            $('#titleDatatable tbody tr').each(function () {
                let Threshold = $(this).find("td:eq(3)").text();
                let Status = $(this).find("td:eq(4)").text();
                uniqueStatus.add(Status);
                uniqueThreshold.add(Threshold);
            });

            // Add filter select options for each column
            let thresholdFilter = $('<select><option value="">Threshold Result</option></select>');
            $.each(Array.from(uniqueThreshold).sort(), function (i, item) {
                thresholdFilter.append($('<option>', {
                    value: item,
                    text: item
                }));
            });
            $('#titleDatatable thead th:eq(3)').html(thresholdFilter);

            let statusFilter = $('<select><option value="">Status</option></select>');
            $.each(Array.from(uniqueStatus).sort(), function (i, item) {
                statusFilter.append($('<option>', {
                    value: item,
                    text: item
                }));
            });
            $('#titleDatatable thead th:eq(4)').html(statusFilter);

            $('#titleDatatable thead select').on('change', function () {
                let val = $(this).val();
                table.column($(this).parent().index() + ':visible').search(val ? val : '').draw();
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            let table = $('#proposalDatatable').DataTable({
                "aLengthMenu": [
                    [3, 5, 7, 10, 25, "All"],
                    [3, 5, 7, 10, "All"]
                ],
                paging: true,
                pageLength: -1,
                lengthChange: true,
                autoWidth: false,
                searching: true,
                bInfo: true,
                bSort: true,
                responsive: true,
                buttons:['csv', 'excel', 'pdf', 'copy', 'print'],
                

                // Change the DOM layout
                dom: '<"row"<"col-md-3"l><"col-md-6 text-center"B><"col-md-3"f>>' +
             '<"row"<"col-md-12"tr>>' +
             '<"row"<"col-md-5"i><"col-md-7"p>>'
            });
            table.buttons().container().appendTo('#proposalDatatable .col-md-6:eq(0)')

            // Get unique values for each column
            let uniqueThreshold = new Set();
            let uniqueStatus = new Set();

            $('#proposalDatatable tbody tr').each(function () {
                let Threshold = $(this).find("td:eq(3)").text();
                let Status = $(this).find("td:eq(4)").text();
                uniqueThreshold.add(Threshold);
                uniqueStatus.add(Status);
            });

            // Add filter select options for each column
            let thresholdFilter = $('<select><option value="">Threshold Result</option></select>');
            $.each(Array.from(uniqueThreshold).sort(), function (i, item) {
                thresholdFilter.append($('<option>', {
                    value: item,
                    text: item
                }));
            });
            $('#proposalDatatable thead th:eq(3)').html(thresholdFilter);
            
            let statusFilter = $('<select><option value="">Status</option></select>');
            $.each(Array.from(uniqueStatus).sort(), function (i, item) {
                statusFilter.append($('<option>', {
                    value: item,
                    text: item
                }));
            });
            $('#proposalDatatable thead th:eq(4)').html(statusFilter);

            $('#proposalDatatable thead select').on('change', function () {
                let val = $(this).val();
                table.column($(this).parent().index() + ':visible').search(val ? val : '').draw();
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#finalDatatable').DataTable({
                "aLengthMenu": [
                    [3, 5, 7, 10, 25, "All"],
                    [3, 5, 7, 10, "All"]
                ],
                paging: true,
                pageLength: 5,
                lengthChange: true,
                autoWidth: false,
                searching: true,
                bInfo: true,
                bSort: true,
                responsive: true,
                buttons:['csv', 'excel', 'pdf', 'copy', 'print'],
                

                // Change the DOM layout
                dom: '<"row"<"col-md-3"l><"col-md-6 text-center"B><"col-md-3"f>>' +
             '<"row"<"col-md-12"tr>>' +
             '<"row"<"col-md-5"i><"col-md-7"p>>'
            });
            table.buttons().container().appendTo('#finalDatatable .col-md-6:eq(0)')
            
        });
    </script>

    <script>
        $(document).ready(function () {
            // Initialize DataTable
            let table = $('#approvedDatatable').DataTable({
                "aLengthMenu": [
                    [3, 5, 7, 10, 25, "All"],
                    [3, 5, 7, 10, "All"]
                ],
                paging: true,
                pageLength: -1,
                lengthChange: true,
                autoWidth: false,
                searching: true,
                bInfo: true,
                bSort: true,
                responsive: true,
                buttons:['csv', 'excel', 'pdf', 'copy', 'print'],

                // Change the DOM layout
                dom: '<"row"<"col-md-3"l><"col-md-6 text-center"B><"col-md-3"f>>' +
             '<"row"<"col-md-12"tr>>' +
             '<"row"<"col-md-5"i><"col-md-7"p>>'

            });

            table.buttons().container().appendTo('#approvedDatatable .col-md-6:eq(0)')

            // Get unique values for each column
            let uniqueDocType = new Set();
            let uniquePanel = new Set();
            
            $('#approvedDatatable tbody tr').each(function () {
                let DocType = $(this).find("td:eq(3)").text();
                let Panel = $(this).find("td:eq(7)").text();
                uniqueDocType.add(DocType);
                uniquePanel.add(Panel);
            });
                
            // Add filter select options for each column
            let doctypeFilter = $('<select><option value="">Document Type</option></select>');
            $.each(Array.from(uniqueDocType).sort(), function (i, item) {
                doctypeFilter.append($('<option>', {
                    value: item,
                    text: item
                }));
            });
            $('#approvedDatatable thead th:eq(3)').html(doctypeFilter);

            let panelFilter = $('<select><option value="">Panel</option></select>');
            $.each(Array.from(uniquePanel).sort(), function (i, item) {
                panelFilter.append($('<option>', {
                    value: item,
                    text: item
                }));
            });
            $('#approvedDatatable thead th:eq(7)').html(panelFilter);

            $('#approvedDatatable thead select').on('change', function () {
                let val = $(this).val();
                table.column($(this).parent().index() + ':visible').search(val ? val : '').draw();
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            // Initialize DataTable
            let table = $('#rejectedDatatable').DataTable({
                "aLengthMenu": [
                    [3, 5, 7, 10, 25, "All"],
                    [3, 5, 7, 10, "All"]
                ],
                paging: true,
                pageLength: -1,
                lengthChange: true,
                autoWidth: false,
                searching: true,
                bInfo: true,
                bSort: true,
                responsive: true,
                buttons:['csv', 'excel', 'pdf', 'copy', 'print'],

                // Change the DOM layout
                dom: '<"row"<"col-md-3"l><"col-md-6 text-center"B><"col-md-3"f>>' +
             '<"row"<"col-md-12"tr>>' +
             '<"row"<"col-md-5"i><"col-md-7"p>>'

            });

            table.buttons().container().appendTo('#rejectedDatatable .col-md-6:eq(0)')
            
            // Get unique values for each column
            let uniqueDocType = new Set();
            let uniquePanel = new Set();
            
            $('#rejectedDatatable tbody tr').each(function () {
                let DocType = $(this).find("td:eq(3)").text();
                let Panel = $(this).find("td:eq(7)").text();
                uniqueDocType.add(DocType);
                uniquePanel.add(Panel);
            });
                
            // Add filter select options for each column
            let doctypeFilter = $('<select><option value="">Document Type</option></select>');
            $.each(Array.from(uniqueDocType).sort(), function (i, item) {
                doctypeFilter.append($('<option>', {
                    value: item,
                    text: item
                }));
            });
            $('#rejectedDatatable thead th:eq(3)').html(doctypeFilter);

            let panelFilter = $('<select><option value="">Panel</option></select>');
            $.each(Array.from(uniquePanel).sort(), function (i, item) {
                panelFilter.append($('<option>', {
                    value: item,
                    text: item
                }));
            });
            $('#rejectedDatatable thead th:eq(7)').html(panelFilter);

            $('#rejectedDatatable thead select').on('change', function () {
                let val = $(this).val();
                table.column($(this).parent().index() + ':visible').search(val ? val : '').draw();
            });
        });
    </script>
    
    <script>
        $(document).ready(function () {
            $('.btn').on('click', function () {
                var id = $(this).attr('id').replace('btn', '');
                $('#actionModal' + id).modal('show');
            });
        });
    </script>

</body>

</html>