<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Student Dashboard {% endblock title %}</title>

    <!-- navbars -->
    <link rel="stylesheet" type="text/css" href="{% static 'style/student_nav.css' %}">

    <!-- tables -->
    <link rel="stylesheet" type="text/css" href="{% static 'style/table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/student_comment_table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/upload_docs_table.css' %}">

    <!--loading css-->
    <link rel="stylesheet" type="text/css" href="{% static 'style/loading.css' %}">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- DataTables CSS -->
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/table.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="{% static 'icons/css/all.min.css' %}">

    <!-- Sweetalert CSS-->
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
</head>

<body>

    <!-- includes -->
    {% include "navbar/student_navbar.html" %}


    {% block content %} {% endblock content %}


    <!-- Bootstrap JavaScript -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.2.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- Sweetalert JS-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>

    <!-- DataTables JavaScript -->
    <script type="text/javascript" src="{% static 'DataTables/js/datatables.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>

    <!--bootstrap buttons-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.2/b-2.3.4/b-colvis-2.3.4/b-html5-2.3.4/b-print-2.3.4/datatables.min.css"/>
 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.2/b-2.3.4/b-colvis-2.3.4/b-html5-2.3.4/b-print-2.3.4/datatables.min.js"></script>


    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.6/dist/umd/popper.min.js"></script>

    <!-- Font Awesome JavaScript -->
    <script src="{% static 'icons/js/all.min.js' %}"></script>

    <!-- Datatables Script -->
    
    <script>
        const hamburger = document.querySelector(".hamburger");
        const innerNavbar = document.querySelector(".inner_navbar");
    
        hamburger.addEventListener("click", function() {
            innerNavbar.style.display = innerNavbar.style.display === "block" ? "none" : "block";
        });
    </script>
    
    <script>
        $(document).ready(function () {
            let table = $('#docsUploadsDatatable').DataTable({
                "aLengthMenu": [
                    [3, 5, 7, 10, 25, "All"],
                    [3, 5, 7, 10, "All"]
                ],
                paging: true,
                pageLength: -1,
                lengthChange: true,
                autoWidth: false,
                searching: true,
                bInfo: true,
                bSort: true,
                responsive: true,
                buttons:['csv', 'excel', 'pdf', 'copy', 'print'],
                

                // Change the DOM layout
                dom: '<"row"<"col-md-3"l><"col-md-6 text-center"B><"col-md-3"f>>' +
             '<"row"<"col-md-12"tr>>' +
             '<"row"<"col-md-5"i><"col-md-7"p>>'
            });
            table.buttons().container().appendTo('#docsUploadsDatatable .col-md-6:eq(0)')


            // Get unique values for each column
            let uniqueDocType = new Set();
            let uniqueStatus = new Set();
            let uniqueThreshold = new Set();


            $('#docsUploadsDatatable tbody tr').each(function () {
                let DocType = $(this).find("td:eq(3)").text();
                let Threshold = $(this).find("td:eq(4)").text();
                let Status = $(this).find("td:eq(5)").text();
                uniqueDocType.add(DocType);
                uniqueStatus.add(Status);
                uniqueThreshold.add(Threshold);
            });

            // Add filter select options for each column
            let doctypeFilter = $('<select><option value="">Document Type</option></select>');
            $.each(Array.from(uniqueDocType).sort(), function (i, item) {
                doctypeFilter.append($('<option>', {
                    value: item,
                    text: item
                }));
            });
            $('#docsUploadsDatatable thead th:eq(3)').html(doctypeFilter);

            let thresholdFilter = $('<select><option value="">Threshold Result</option></select>');
            $.each(Array.from(uniqueThreshold).sort(), function (i, item) {
                thresholdFilter.append($('<option>', {
                    value: item,
                    text: item
                }));
            });
            $('#docsUploadsDatatable thead th:eq(4)').html(thresholdFilter);

            let statusFilter = $('<select><option value="">Status</option></select>');
            $.each(Array.from(uniqueStatus).sort(), function (i, item) {
                statusFilter.append($('<option>', {
                    value: item,
                    text: item
                }));
            });
            $('#docsUploadsDatatable thead th:eq(5)').html(statusFilter);

            $('#docsUploadsDatatable thead select').on('change', function () {
                let val = $(this).val();
                table.column($(this).parent().index() + ':visible').search(val ? val : '').draw();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            let table = $('#studentRepositoryDatatable').DataTable({
                "aLengthMenu": [
                    [3, 5, 7, 10, 25, "All"],
                    [3, 5, 7, 10, "All"]
                ],
                paging: true,
                pageLength: -1,
                lengthChange: true,
                autoWidth: false,
                searching: true,
                bInfo: true,
                bSort: true,
                responsive: true,
            });

            // Get unique values for each column
            let uniqueAdvisers = new Set();
            let uniqueSchoolYears = new Set();
            $('#studentRepositoryDatatable tbody tr').each(function () {
                let adviser = $(this).find("td:eq(2)").text();
                let schoolYear = $(this).find("td:eq(3)").text();
                uniqueAdvisers.add(adviser);
                uniqueSchoolYears.add(schoolYear);
            });

            // Add filter select options for each column

            let adviserFilter = $('<select><option value="">Adviser</option></select>');
            $.each(Array.from(uniqueAdvisers), function (index, value) {
                adviserFilter.append('<option value="' + value + '">' + value + '</option>');
            });
            $("#studentRepositoryDatatable thead tr:eq(0) th:eq(2)").html(adviserFilter);
            table.column(2).data().sort();
            table.column(2).search($(adviserFilter).val()).draw();
            $(adviserFilter).on('change', function () {
                table.column(2).search($(this).val()).draw();
            });

            let schoolYearFilter = $('<select><option value="">School Year</option></select>');
            $.each(Array.from(uniqueSchoolYears), function (index, value) {
                schoolYearFilter.append('<option value="' + value + '">' + value + '</option>');
            });
            $("#studentRepositoryDatatable thead tr:eq(0) th:eq(3)").html(schoolYearFilter);
            table.column(3).data().sort();
            table.column(3).search($(schoolYearFilter).val()).draw();
            $(schoolYearFilter).on('change', function () {
                table.column(3).search($(this).val()).draw();
            });
        });
    </script>

    <!--document upload script for proponent-->
    <script>
        $(document).ready(function () {
            var selectedStudents = [];

            // Set data-selected attribute of each option to false
            $('#proponents option').each(function () {
                $(this).data('selected', false);
            });

            // Add selected student to the list and update hidden input value
            $('#proponents').change(function () {
                var studentId = $(this).val();
                if (studentId && !$('#proponents option[value="' + studentId + '"]').data('selected')) {
                    $('#proponents option[value="' + studentId + '"]').data('selected', true);
                    selectedStudents.push(studentId);
                    $('#selected-students').append('<li>' + $(this).find('option:selected').text() +
                        '<button class="remove-student-btn" data-student="' + studentId +
                        '">Remove</button></li>');
                    updateHiddenInput();
                }
            });

            $('#selected-students').on('click', '.remove-student-btn', function () {
                var studentId = $(this).data('student');
                selectedStudents = selectedStudents.filter(function (id) {
                    return id !== studentId;
                });
                $('#proponents option[value="' + studentId + '"]').data('selected', false);
                $(this).closest('li').remove();
              
                // Remove the student ID from the textarea
                var studentIds = $('#student-proponents-input').val().split(',');
                studentIds = studentIds.filter(function (id) {
                    return id !== studentId.toString();
                });
                $('#student-proponents-input').val(studentIds.join(','));
                
                // Remove the student ID from the selectedStudents array
                selectedStudents = selectedStudents.filter(function (id) {
                    return id !== studentId.toString();
                });
            });
              
            // Submit form via AJAX and show success message
            $('#final-defense-form').submit(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '{% url "upload_final_defense" %}',
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        student_proponents: selectedStudents.join(',')
                    },
                    success: function (data) {
                        alert('Proponents saved!');
                    }
                });
            });

            // Update hidden input value with the selected student IDs
            function updateHiddenInput() {
                $('#student-proponents-input').val(selectedStudents.join(','));

            }
        });
    </script>
    

</body>

</html>