{% extends "base/student_base.html" %}

{% block title %}Study Digital Repository{% endblock title %}

{% block content %}
<br>
<div class="container">
    <h3>Welcome, {{ user.name }}</h3>
    <hr>
    <p>This page allows you to view a variety of thesis and research documents. By using the table on this page, you can
        easily browse through different documents by their title, proponents, and even view them by clicking on the
        "view" button.</p>
    <br>
    <table class="table table-bordered mx-auto " id="studentRepositoryDatatable">
        <thead bgcolor="grey" style="color: #fff; font-size:13px">
            <tr>
                <th style="width: 30%;">Thesis Title</th>
                <th style="width: 10%;">Proponents</th>
                <th style="width: 9%;">Adviser</th>
                <th style="width: 5%;">School Year</th>
                <th style="width: 1%;">Actions</th>
            </tr>
        </thead>
        <!--Data from backend-->
        <tbody style="text-align: left;">
            {% for repo in repository %}
            <tr style="color: black; text-align: left; font-size: 13px; ">
                <td>{{ repo.title }}</td>
                <td>{{ repo.proponents }}</td>
                <td>{{ repo.adviser }}</td>
                <td>{{ repo.school_year }}</td>
                <td>
                    <!--button to open pdf-->
                    {% comment %} <a href="#" target="_blank" class="btn btn-success"><i class="fa-solid fa-eye"></i></a> {% endcomment %}
                    <a href="{% url 'view_pdf_repository' repo.id %}" target="_blank" class="btn btn-success"><i class="fa-solid fa-eye"></i></a>

                </td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
</div>

{% endblock content %}