{% load static %}
<div class="wrapper">
    <nav class="navbar navbar-expand-sm">
        <div class="logo">
            <a>THE<span>SIS</span></a>
        </div>
        <div class="inner_navbar justify-content-center">
            <div class="navbar-left">
                <ul>
                    <li> 
                        <div class="dropdown" style="margin-top: 5.8px;">
                            <a href="{% url 'student_dashboard' %}">
                                Digital Repository
                            </a>
                        </div>
                    </li>
                    <li> 
                        <div class="dropdown" style="margin-top: 5.8px;">
                            <a href="{% url 'document_comparison' %}">
                                Document Comparison
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a class="btn dropdown-fa-toggle-down" id="dropdownSimilarity" data-bs-toggle="dropdown"
                                aria-haspopup="true">Similarity Test <i class="fa-solid fa-circle-chevron-down"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownSimilarity">
                                <a href="{% url 'upload_title_defense' %}" class="dropdown-item">Title Defense Document</a>
                                <a href="{% url 'upload_proposal_defense' %}" class="dropdown-item">Proposal Defense Document</a>
                                <a href="{% url 'upload_final_defense' %}" class="dropdown-item">Final Defense Document</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a class="btn dropdown-fa-toggle-down" role="button" id="dropdownSettings"
                                data-bs-toggle="dropdown" aria-haspopup="true">
                                Settings <i class="fa-solid fa-circle-chevron-down"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownSettings">
                                <a class="dropdown-item" href="{% url 'student_details' %}">Account</a>
                                <a class="dropdown-item" href="{% url 'view_uploads' %}">Results</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="hamburger">
            <i class="fas fa-bars" onclick="toggleNav()"></i>
        </div>
    </nav>
</div>